<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Calendario Mensile</title>
</head>

<body>
  <div class="container">
    <h1>Calendario Mensile</h1>

    <div class="card">
      <div class="card-header">
        <h5>{{ month_name }} {{ year }}</h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Domenica</th>
              <th>Lunedì</th>
              <th>Martedì</th>
              <th>Mercoledì</th>
              <th>Giovedì</th>
              <th>Venerdì</th>
              <th>Sabato</th>
            </tr>
          </thead>
          <tbody>
          {% for week in month_calendar %}
              <tr>
                  {% for day in week %}
                      <td>
                          {{ day }}
                          {% if day in workout_dict %}
                              {% load get_workout_for_day %}
                              {{ day|get_workout_for_day:workout_dict }}
                          {% endif %}
                      </td>
                  {% endfor %}
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="text-center mt-4">
      <a href="?year={{ prev_year }}&month={{ prev_month }}" class="btn btn-primary mr-2">Mese Precedente</a>
      <a href="?year={{ next_year }}&month={{ next_month }}" class="btn btn-primary">Mese Successivo</a>
        <a href="{% url 'add_workout' %}"  class="btn btn-primary">Add Workout</a>
    </div>
  <a href="{% url 'profile_home' %}" class="btn btn-secondary back-btn" >Back to Profile Home</a>
  </div>
</body>

</html>
