<!DOCTYPE html>
<html>
<head>
    <title>Create Exercise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Create Exercise</h1>
        <form method="post" action="{% url 'create_exercise' workout_id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Exercise Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="workout">Workout:</label>
                <input type="number" class="form-control" id="workout">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'profile_home' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
