<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
        }
        .btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to your Fitness Website</h1>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
    </div>
</body>
</html>
