<!DOCTYPE html>
<html>
<head>
    <title>Set Weight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Set Weight</h1>
        <form method="post" action="{% url 'set_weight' workout_id nExercise set_id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="weight">Weight:</label>
                <input type="text" class="form-control" id="weight" name="weight" required>
            </div>
            <button type="submit" class="btn btn-primary">Set Weight</button>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
