<!DOCTYPE html>
<html>
<head>
    <title>Workout Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
        }
        .btn-primary {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Workout Detail</h1>
        <p><strong>Name:</strong> {{ workout.name }}</p>
        <p><strong>User:</strong> {{ workout.user.username }}</p>
        <p><strong>Exercises:</strong></p>
        <ul>
            {% for exercise in exercises %}
                <li>{{ exercise.name }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_exercise' workout_id=workout_id nExercise=nes%} " class="btn btn-primary">Add Exercise</a>
        <a href="{% url 'profile_home' %}" class="btn btn-secondary">Back to Home</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
